body { background: url("../images/wrapper.jpg") no-repeat scroll center top #fff; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

#wrapper { margin: 0 auto; width:940px; box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25); }
#header { position: relative; margin-top:20px; height:100px; width: 940px; background: #000; }
	#header h1 { padding: 30px 0 0 15px; color: #fff; }
#content {  background: #fff; padding: 10px; }
	#content p { margin: 1.12em 0; }
#footer { height:50px; width: 940px; background: #000; margin: 0 0 30px 0;}
	#footer p { padding: 15px 0 0 15px; color: #fff;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

#column-1 { position: absolute; width:400px; border: 5px solid #ccc; padding-left: 5px; }
#column-2 { position: absolute; left: 650px; width:450px;} 
#smallbox { position: absolute; left: 650px; top: 400px; width:400px;} 

.hoverspan { text-decoration: underline; color: #e01b4c;}
	.hoverspan:hover { font-size: 20px; color: #ccc; cursor: pointer;}

ul.posts {padding-left:0px;} 
ul.posts li { list-style: none; position:relative; width:350px;  } 
ul.posts li div.meta  { position: absolute; top: 2px; } 
ul.posts li div.meta2  { padding:0px; margin-top: 10px; height: 25px; display:block; border-top: 1px dotted #000; border-bottom: 1px dotted #000;}
ul.posts li a.like  { float:right; padding-right: 10px; margin-top: 4px; } 
ul.posts li a.alreadyliked  { color: red; } 
ul.posts li a.notliked  { color: green; } 


ul#navigation { padding-left: 0px; position: absolute; top: 55px; left: 15px;}
ul#navigation li { list-style: none; padding-left: 15px; float:left; }
ul#navigation li:first-child { padding-left: 0px; }

ul#navigation li a { color: #fff; text-decoration: none;}
ul#navigation li a:hover { text-decoration: underline;}

form#entryform label { width:200px; display:block; }

form#entryform textarea { width:400px; height:150px;}
/* Grid system for 940px */
.column { float: left;  }
.grid-1 { width: 60px !important; }
.grid-2 { width: 140px !important; }
.grid-3 { width: 220px !important; }
.grid-4 { width: 300px !important; }
.grid-5 { width: 380px !important; }
.grid-6 { width: 460px !important; }
.grid-7 { width: 540px !important; }
.grid-8 { width: 620px !important; }
.grid-9 { width: 700px !important; }
.grid-10 { width: 780px !important; }
.grid-11 { width: 860px !important; }
.grid-12 { width: 940px !important; }